.nav-list {
	list-style: none;
	display: flex;
	flex-flow: row;
	align-items: center;
	height: 100%;
}

.NavigationItem {
	margin: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

.NavigationItem a {
	color: rgb(160, 160, 160);
	height: 100%;
	padding: 16px 10px;
	border-bottom: 4px solid transparent;
	text-decoration: none;
	width: 100%;
	display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	background-color: #ffdbfe;
	border-bottom: 4px solid #ddc3db;
	color: rgb(0, 0, 0);
}
.Layout-Content {
	margin-top: 100px;
}
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #5c1228;
	z-index: 100;
}
.Toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.Toolbar nav {
	height: 100%;
}

.Toolbar-logo {
	color: aliceblue;
	text-decoration: none;
}
